/* intro */


#gallery-intro {
    background: url(../img1/back/inner.jpg);
    background-size: cover;
    /* width: 100%; */
    background-attachment: scroll;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    color: #000;
}

#gallery-intro .overlay {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
    /* IE6-9 */
    height: 450px;
    background-attachment: fixed;
}

#gallery-intro h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
}

#gallery-intro p.subtitle {
    color: #ddd;
}

.gallery-intro-content {
    position: absolute;
    padding: 14% 0 20% 0;
    left: 0;
    right: 0;
    z-index: 0;
}

@media screen and (max-width: 1000px) {
    .gallery-intro-content {
        padding: 25% 0 5% 0;
    }
}

@media screen and (max-width: 768px) {
    .gallery-intro-content {
        padding: 30% 0 5% 0;
    }
    .navbar-toggle {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 580px) {
    .gallery-intro-content {
        padding: 45% 0 5% 0;
    }
    a.fa.fa-angle-down {
        margin-top: 80px !important;
    }
}

a.fa.fa-angle-down {
    padding: 10px 14px;
    color: #aaa;
    font-size: 50px;
    margin-top: 50px;
    transition: all 0.5s;
}

@media screen and (min-width: 1600px) {
    a.fa.fa-angle-down {
        position: relative;
        bottom: 50px;
    }
}

a.fa.fa-angle-down:hover {
    color: #fff;
    text-decoration: none;
}

a.fa.fa-angle-down:focus {
    text-decoration: none;
}



/* ======= ABOUT ======= */

#about {
    padding-top: 90px;
    padding-bottom: 40px;
}

/* === GALLERY === */

/* ======= PORTFOLIO ======= */

#gallery-portfolio {
    padding-top: 0px;
    padding-bottom: 100px;
    background: #fff;
}

#gallery-portfolio * {
    z-index: 2;
}

#gallery-portfolio .gallery-portfolio-row {
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 950px) {
    #gallery-portfolio .gallery-portfolio-row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#gallery-portfolio .section-heading {
    padding-bottom: 0px;
    margin-bottom: 20px;
}

#gallery-portfolio .coming-soon {
    margin-bottom: 50px;
    text-transform: lowercase;
}

#gallery-portfolio .gallery-portfolio-item-wrapper {
    width: 31%;
    
    display: inline-block;
    padding: 0 0 5px;
    margin: 0 1% 1%;
    vertical-align: top;
}

@media (max-width: 992px) {
    #gallery-portfolio .portfolio-item-wrapper {
        width: 31%;
    }
}

@media (max-width: 768px) {
    #gallery-portfolio .gallery-portfolio-item-wrapper {
        width: 46%;
    }
}

@media (max-width: 630px) {
    #gallery-portfolio .gallery-portfolio-item-wrapper {
        width: 100%;
    }
}




#gallery-portfolio .gallery-portfolio-item {
    display: block;
    -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

#gallery-portfolio .gallery-portfolio-item img {
    max-width: 100%;
    width: 100%;
    opacity: 1.0;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

#gallery-portfolio .gallery-portfolio-overlay {
    position: absolute;
    background-color: rgba(26, 30, 31, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;
}

#gallery-portfolio .gallery-portfolio-info,
#gallery-portfolio .links,
#gallery-portfolio .links a i,
#gallery-portfolio .links a i::after,
#gallery-portfolio .gallery-portfolio-overlay {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

#gallery-portfolio .links {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 36%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
}

#gallery-portfolio .links a i {
    position: relative;
    color: #fff;
    font-size: 24px;
    margin: 0 13px;
    z-index: 100;
}

#gallery-portfolio .links a:hover i {
    color: #fff;
}

#gallery-portfolio .links a i::after {
    position: absolute;
    content: "";
    left: -7px;
    top: -7px;
    width: 30px;
    height: 30px;
    /*border: 1px solid #fff;*/
    z-index: -1;
    border-radius: 50%;
}

#gallery-portfolio .links a:hover i::after {
    /*background: rgba(255, 255, 255, 0.2);*/
}

#gallery-portfolio .gallery-portfolio-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #000000;
    color: #fff;
    height: 45px;
    width: 100%;
    text-align: center;
}

#gallery-portfolio .gallery-portfolio-item:hover .gallery-portfolio-overlay,
#gallery-portfolio .gallery-portfolio-item:hover .links {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#gallery-portfolio .gallery-portfolio-item:hover .gallery-portfolio-info {
    bottom: 0;
}

#gallery-portfolio .gallery-portfolio-info h3 {
    font-size: 14px;
    line-height: 45px;
    font-weight: 400;
    margin: 0;
}